<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book List</title>
</head>
<body>
	<h1>Authors List</h1>
	<table border="1" cellspace="1">
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		<tr th:each="author : ${authors}">
			<td th:text="${author.id}">123</td>
			<td th:text="${author.firstName}">Spring in Action</td>
			<td th:text="${author.LastName}">Wrox</td>
		</tr>
	</table>
</body>
</html>